
.navbarLogIn {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background:#c9b5c2;
	box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.5);
	width:100%;
	overflow: visible;
	height: 12dvh;
}

.navbarLogIn-left {
	display: flex;
	align-items: center;
	margin-right: 2dvh;
}

.navbarLogIn-right {
	display: flex;
	align-items: center;
	margin-right: 2dvh;
}

.navbarLogIn-searchbar {
	display: block;
	position: relative;
	margin-right: 2dvh;
}

.navbarLogIn-searchresults {
	margin-top: 1dvh;
	margin-left: 1dvh;
	width: 100%;
	position: absolute;
}

#navbarLogIn-left input {
	width: 90%;
	max-width: 450px;
	height: 5dvh;
	margin-top: 2dvh;
	margin-left: 2dvh;
	display: block;
	border-radius: 16rem;
	border-style: none;
	font-size: 20px;
	background:#ffffff75;
}

/* Images ------------------------------------------------------ */

.navbarLogIn_logo {
	content: url('../../../assets/images/icons/logo.png');
	display: block;
	height: 8rem;
	width: 8rem;
	height: auto;
	margin-left: 1dvh;
	margin-right: 2dvh;
}

.navbarLogIn_search {
	content: url('../../../assets/images/icons/search.png');
	display: block;
	margin-left: 1dvh;
	margin-top: 0.5dvh;
	height: 2rem;
	width: 2rem;
	height: auto;
}

.navbarLogIn_meet {
	margin-left: 3dvh;
	content: url('../../../assets/images/icons/meet.png');
	display: block;
	height: 5rem;
	width: 5rem;
	height: auto;
}

.navbarLogIn_messageBox {
	margin-right: 1dvh;
	content: url('../../../assets/images/icons/messageBox.png');
	display: block;
	height: 6rem;
	width: 6rem;
	height: auto;
}

.navbarLogIn_heart {
	margin-right: 1dvh;
	content: url('../../../assets/images/icons/heart_navBar.png');
	display: block;
	height: 5rem;
	width: 5rem;
	height: auto;
}

.navbarLogIn_notifs {
	margin-right: 1dvh;
	content: url('../../../assets/images/icons/bell.png');
	display: block;
	height: 4rem;
	width: 4rem;
	height: auto;
}

.navbarLogIn_myProfile {
	margin-right: 1dvh;
	content: url('../../../assets/images/icons/myProfile.png');
	display: block;
	height: 4rem;
	width: 4rem;
	height: auto;
}

.navbarLogIn_deco {
	display: block;
	height: 6rem;
	width: 6rem;
	background-color: #816c87;
	-webkit-mask: url('../../../assets/images/icons/deconnect.svg') no-repeat center / contain;;
	mask: url('../../../assets/images/icons/deconnect.svg') no-repeat center / contain;
}
