
.navbarLogOut {
	display: grid;
	grid-template-columns: minmax(0, 1fr) auto minmax(0, 1fr);
	width: 100%;
	background:#c9b5c2;
	height: 12dvh;
	margin: 0;
	padding: 0;
	align-items: center;
	text-align: center;
	width: 100%;
	box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.5);
}

.navbarLogOut_text {
	grid-column: 2;
	font-family: arizonia;
	color: hsla(0, 0%, 98%, 0.8);
	font-size: clamp(1rem, 12vw, 5rem);
	text-align: center;
}

.navbarLogOut_image {
	--navbar-height: 12dvh;
	grid-column: 1;
	margin-left: 2dvh;
	display: block;
	height: calc(var(--navbar-height) * 0.7);
	width: auto;
}
